body {
    background-color: rgb(240, 212, 212);
}
table {
    border-collapse: separate;
    border: 5px outset white;
}
caption {
    padding: 20px 0px 10px;
    color: rgb(176, 103, 96);
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
    font-weight: bolder;
}
.main {
    color: rgb(255, 231, 235);
    text-align: center;
    background-color: rgb(176, 103, 96);
    font-weight: normal;
}
th {
    text-align: left;
    border: 1px inset white
}
td {
    border: 1px inset white
}